#subtitle,
.typed-cursor {
  font-size: 4.8rem;
  text-align: left !important;
}

.banner-text {
  text-align: left !important;
}

.banner-text .h2 {
  text-align: left !important;
}

#banner {
  background: #000000 !important;
}

#banner .mask {
  background-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 767px) {
  #subtitle,
  .typed-cursor {
    font-size: 3.6rem;
  }
}

@media (max-width: 575px) {
  #subtitle,
  .typed-cursor {
    font-size: 3.2rem;
  }
}
